@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/*General*/
body{
    background: url(../image/Fondo_Body.jpg);
    background-size: cover;
    font-family: 'Lato', sans-serif;
}
/*Contenedor Principal*/
.contenedor-login{
    width: 25%;
    margin: 0 auto;
    margin-top: 80px;
    background-image: url(../image/fondo-login.jpg);
    background-size: cover;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, .9);
    border-radius: 10px;
    
}
/* Titulo e Imagen*/
.contenedor-login > h1{
    text-align: center;
    margin-top: 40px;
    color: white;
    letter-spacing: 1px;
}
.contenedor-img{
  width: 24.4%;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
    width: 70px;
    border-radius: 50%;
}
.info-login{
    background-color: rgba(255, 255, 255, .3);
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
    border: 1px solid rgba(255, 255, 255, .9);
    border-radius: 5px;
    position: relative;   
}
/*Mensaje de Error*/

.message-error{
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid red;
}
.message-error > p{
  text-align: center;
  font-size: 9pt;
  padding: 5px 0 5px 0px;
  font-weight: 1000;
}
/* Formulaio*/
.form-login{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.input{
    width: 80%;
    height: 30px;
    border:none;
    overflow: hidden;
    border-radius: 5px;
    padding-left: 5px;
}
.input:hover{
    background-color:rgb(65, 105, 225);
    border: 1px solid silver;
}
.input:focus{
    border: 1px solid red;
}
.form-login > label{
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 5px;
}
.form-login > button{
    width: 83%;
    height: 30px;
    margin-top: 20px;
    letter-spacing: 1px;
    color: white;
    font-weight: 500;
    background-color: rgb(241, 80, 6);
    border: none;
    overflow: hidden;
    border-radius: 5px;
}
.form-login >button:hover{
  background-color: rgb(241, 180, 60);
}
.form-login > p{
    margin-top: 0;
    padding-top: 3px;
    font-size: 9pt;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
}
span{
    color: rgb(241, 80, 6)  ;
}

@media screen and (max-width: 600px){
  .contenedor-login{
    width: 80%;
    margin-top: 10px;
  }
  .contenedor-img{
    /*border: 1px solid red;*/
    width: 75.6%;
  }
}